# editor files
.idea
*.iml

# gradle files
.gradle

# output files
/build/
/commons/build/
/commons/core/build/
/commons/bukkit/build/
/commons/bungee/build/
/api/build/
/api/core/build/
/api/bukkit/build/
/api/bungee/build/
/lobby/build/